*.log
*.pid
*.seed
*.pid.lock
*.out
*.err

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/.fleet
/.idea
/.nova
/.vscode
/.zed

/auth.json
/node_modules
/vendor

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/logs/*.log
/storage/pail

Homestead.json
Homestead.yaml

Qistas.docs
Qistas.docx
